.btn-group .btn {
  font-size: 12px;
  color: #D7D3D5 !important;
  background-color: #fff;
  border: 1px solid #D7D3D5 !important;
  width: 91px;
  margin-left: 4px;
  height: 91px;
  margin-bottom: 10px;
  padding-left: 9px;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
