<h3>My Transactions</h3>
<div class="row">
  <div class="card col-sm-12 m-b-30">
    <div class="card-body">

      <div *ngFor="let transaction of transactions">
          <h4 class="header-title mt-0 pb-3">
            {{ transaction.details.posted | date :  "dd MMMM y" }}
        </h4>

        <div class="table-responsive m-b-15">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>
                    <span class="transactionDesciption">
                      {{ transaction.details.description}}
                      {{ transaction.other_account.holder.name }}
                    </span>
                  </td>
                  <td width="100">
                    <span class="transactionValue negative" [innerHtml]="transaction.details.value.amount | eurovalue"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      
      <div>

      
      </div>

      <div>
        <h4 class="header-title mt-0 pb-3">
          8 juni 2018
        </h4>

        <div class="table-responsive m-b-15">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <span class="tableIcon"></span>
                </td>
                <td>
                  <span class="transactionDesciption">AH Amsterdam</span>
                </td>
                <td>
                  <span class="transactionValue negative">- &euro; 56,
                    <sup>25</sup>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
