<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Mijn huis</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="img"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-3">

                <!-- Simple card -->
                <div class="card m-b-30">
                    <div class="card-body">
                        <h4 class="card-title my-devices mt-0">Mijn devices</h4>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-secondary">Verlichting</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary">Thermostaat</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-secondary">Deuren</button>
                            </div>
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-secondary">Ramen</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary">Sensoren</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-secondary">Alarm</button>
                            </div>
                        </div>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <button type="button" class="btn btn-secondary">Beeld</button>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="Second group">
                                <button type="button" class="btn btn-secondary">Geluid</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="Third group">
                                <button type="button" class="btn btn-secondary">Gordijnen</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end col -->

        </div>
        <ngb-tabset>
            <ngb-tab title="Adres">
                <ng-template ngbTabContent>
                    <div class="tab-huis">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Algemeen</ng-template>
                <ng-template ngbTabContent>
                    <div class="tab-huis">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>Afmetingen</ng-template>
                <ng-template ngbTabContent>
                    <div class="tab-huis">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                Straat
                            </div>
                            <div class="col-12 col-md-6">
                                Marietjespad
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <!-- end container -->
</div>
<!-- end wrapper -->