<!-- Begin page -->
<div class="wrapper">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h3 class="text-center header-title mt-0 m-b-15">
                            MY HOUSEHOLD ENERGYLABEL
                        </h3>

                        <canvas height="340" baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [colors]="lineChartColors"
                                [legend]="false"
                                [options]="options"
                                ></canvas>

                        <h3 class="header-title">
                            GETGREEN MILESTONES
                        </h3>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><h6>Installed solarpannels</h6></td>
                                    <td>
                                        <div class="btn-group float-right">
                                            <button class="btn btn-light waves-effect">Done!</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card bg-primary m-b-30 text-white">
                    <div class="card-body text-center card-footer-button">

                        <h3 class="text-center header-title mt-0 m-b-15">
                            SAVING TARGETS
                        </h3>
                        <div class="p-3">
                            <counter *ngIf="!isLoading" [value]="user.score.current"></counter>
                            <ngb-progressbar class="progressCounter m-b-10" type="custom" min="0" max="100" [value]="80"></ngb-progressbar>
                            <p class="float-right">125 points to go!</p>
                        </div>

                        <a href="/convert" class="footerButton text-white">Convert your points</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="card m-b-30">
            <div class="card-body">

                <a href="" class="btn btn-warning wave-effect float-right">Your rank 3</a>

                <h3 class="header-title mt-0 pb-3">
                    NEIGHBORHOOD
                </h3>

                <div class="clearfix"></div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <td width="40"><img class="rounded-circle" src="assets/images/house-1.jpg" alt="Sonos speakers : livingroom" width="40"></td>
                            <td>
                                <h6 class="float-left">Family Jansen</h6>
                            </td>
                            <td>
                                <h6 class="m-0 float-left text-center text-success">
                                    <span>+11%</span>
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td width="40"><img class="rounded-circle" src="assets/images/house-2.jpg" alt="Sonos speakers : livingroom" width="40"></td>
                            <td><h6 class="float-left">Family Evers</h6></td>
                            <td>
                                <h6 class="m-0 float-left text-center text-success">
                                    <span>+10%</span>
                                </h6>
                            </td>
                        </tr>
                        <tr>
                            <td width="40"><img class="rounded-circle" src="assets/images/house-3.jpg" alt="Sonos speakers : livingroom" width="40"></td>
                            <td><h6 class="float-left">Your family</h6></td>
                            <td>
                                <h6 class="m-0 float-left text-center text-success">
                                    <span>+8%</span>
                                </h6>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 text-center">
                    <a href="/devices" class="text-link">See all</a>
                </div>

            </div>
        </div>

        <div class="card m-b-30">
            <div class="card-body">

                <a href="" class="btn btn-outline-secondary wave-effect float-right">Add device</a>

                <h3 class="header-title mt-0 pb-3">
                    Popular devices
                </h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td width="40"><img class="rounded-circle" src="assets/images/devices/device_01_sm.jpg" alt="Sonos speakers : livingroom" width="40"></td>
                                <td><h6>Sonos speakers : livingroom</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"> <i class="fal fa-bell"></i> </button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40"><img class="rounded-circle" src="assets/images/devices/device_02_sm.jpg" alt="Nest Thermostat" width="40"></td>
                                <td><h6>Nest Thermostat</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40"><img class="rounded-circle" src="assets/images/devices/device_03_sm.jpg" alt="Aeon Labs - Front door sensor" width="40"></td>
                                <td><h6>Aeon Labs - Front door sensor</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40"><img class="rounded-circle" src="assets/images/devices/device_04_sm.jpg" alt="The Hydrao Smart Shower" width="40"></td>
                                <td><h6>The Hydrao Smart Shower</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="40"><img class="rounded-circle" src="assets/images/devices/device_05_sm.jpg" alt="Zonnepanelen" width="40"></td>
                                <td><h6>Zonnepanelen</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 text-center">
                    <a href="/devices" class="text-link">See all my devices</a>
                </div>

            </div>
        </div>

    </div>
</div>