<!-- Begin page -->
<div class="wrapper">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h3 class="text-center header-title mt-0 m-b-15">
                            My ENERGY PROFILE
                        </h3>

                        <div class="p-3">

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-6 col-xl-6">
                <div class="card bg-primary m-b-30 text-white">
                    <div class="card-body text-center card-footer-button">

                        <h3 class="text-center header-title mt-0 m-b-15">
                            SAVING TARGETS
                        </h3>

                        <div class="p-3">
                            <counter value="55555"></counter>
                            <ngb-progressbar class="progressCounter m-b-10" type="custom" min="0" max="100" [value]="80"></ngb-progressbar>
                            <p class="float-right">125 points to go!</p>
                        </div>

                        <a href="/convert" class="footerButton">Convert your points</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="card m-b-30">
            <div class="card-body">

                <a href="" class="btn btn-outline-secondary wave-effect float-right">Add device</a>

                <h3 class="header-title mt-0 pb-3">
                    Popular devices
                </h3>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><img class="rounded-circle" src="assets/images/devices/device_01_sm.jpg" alt="Sonos speakers : livingroom" width="40"></td>
                                <td><h6>Sonos speakers : livingroom</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"> <i class="fal fa-bell"></i> </button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="assets/images/devices/device_02_sm.jpg" alt="Nest Thermostat" width="40"></td>
                                <td><h6>Nest Thermostat</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="assets/images/devices/device_03_sm.jpg" alt="Aeon Labs - Front door sensor" width="40"></td>
                                <td><h6>Aeon Labs - Front door sensor</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="assets/images/devices/device_04_sm.jpg" alt="The Hydrao Smart Shower" width="40"></td>
                                <td><h6>The Hydrao Smart Shower</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img class="rounded-circle" src="assets/images/devices/device_05_sm.jpg" alt="Zonnepanelen" width="40"></td>
                                <td><h6>Zonnepanelen</h6></td>
                                <td>
                                    <div class="btn-group float-right">
                                        <button class="btn btn-light waves-effect"><i class="fal fa-bell"></i></button>
                                        <button class="btn btn-light waves-effect"><i class="fal fa-cog"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 text-center">
                    <a href="/devices" class="text-link">See all my devices</a>
                </div>

            </div>
        </div>

    </div>
</div>
