<div class="wrapper">

    <div class="container-fluid">

        <h3>My accounts</h3>

        <div class="row">

            <div class="card col-md-12 m-b-30">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><span class="icon"><i class="fal fa-wallet"></i></span> </td>
                                <td>
                                    <span class="accountName">Emilia Clarck - ABN AMRO</span>
                                    <span class="accountNumber">NL06ABNA 0000 1234 56</span>
                                </td>
                                <td width="100">
                                    <span class="accountValue" [innerHtml]="currentBalance | eurovalue"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12 col-lg-6 col-xl-6">

                <div class="card bg-secondary text-white m-b-15">

                    <div class="card-body">

                        <h6 class="header-title mt-0 pb-3">Monthly energy bill</h6>

                        <h2>&euro; 254,<sup>13</sup></h2>

                    </div>

                </div>

            </div>

            <div class="col-md-12 col-lg-6 col-xl-6">

                <div class="card bg-primary text-white m-b-15">

                    <div class="card-body">

                        <h6 class="header-title mt-0 pb-3">Other steady spending</h6>

                        <h2>&euro; 1024,<sup>65</sup></h2>

                    </div>

                </div>

            </div>

        </div>

        <transactions-list></transactions-list>


    </div>

</div>

