<div class="wrapper">

    <div class="container-fluid">

        <h3>My accounts</h3>

        <div class="row">

            <div class="card col-md-12 m-b-30">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><span class="icon"><i class="fal fa-wallet"></i></span> </td>
                                <td>
                                    <span class="accountName">Emilia Clarck - ABN AMRO</span>
                                    <span class="accountNumber">NL06ABNA 0000 1234 56</span>
                                </td>
                                <td>
                                    <span class="accountValue">&euro; 4.517,<sup>14</sup></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12 col-lg-6 col-xl-6">

                <div class="card bg-secondary text-white m-b-15">

                    <div class="card-body">

                        <h6 class="header-title mt-0 pb-3">Monthly energy bill</h6>

                        <h2>&euro; 254,<sup>13</sup></h2>

                    </div>

                </div>

            </div>

            <div class="col-md-12 col-lg-6 col-xl-6">

                <div class="card bg-primary text-white m-b-15">

                    <div class="card-body">

                        <h6 class="header-title mt-0 pb-3">Other steady spending</h6>

                        <h2>&euro; 1024,<sup>65</sup></h2>

                    </div>

                </div>

            </div>

        </div>

        <h3>My Transactions</h3>

        <div class="row">

            <div class="card col-sm-12 m-b-30">
                <div class="card-body">

                    <h4 class="header-title mt-0 pb-3">
                        9 juni 2018
                    </h4>

                    <div class="table-responsive m-b-15">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><span class="tableIcon"></span></td>
                                    <td><span class="transactionDesciption">AH Amsterdam</span></td>
                                    <td><span class="transactionValue negative">- &euro; 56,<sup>25</sup></span> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4 class="header-title mt-0 pb-3">
                        8 juni 2018
                    </h4>

                    <div class="table-responsive m-b-15">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td><span class="tableIcon"></span></td>
                                <td><span class="transactionDesciption">AH Amsterdam</span></td>
                                <td><span class="transactionValue negative">- &euro; 56,<sup>25</sup></span> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

