<div class="globalContent">

  <main>

    <header>

      <div class="myHome" aria-hidden="true">
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
        <span class="4"></span>
        <span class="5"></span>
      </div>

      <section id="intro">
        <div class="container-lg">

          <a class="rootLink item-home colorize" href="#" aria-label="Home homepage"><img src="/assets/images/logo.svg" alt="logo"></a>

          <h1 class="text-white">Sustainable living as a service</h1>

          <p class="common-BodyText text-white">
            Benefit from your conscious way of living by converting your savings and reach green milestones to a greener home.
          </p>

          <ul>
            <li>
              <a href="login" class="btn btn-warning btn-lg float-left">
                Start here!
              </a>
            </li>
          </ul>

        </div>

      </section>

    </header>

    <section id="app-illustrations">

      <div class="tablet-landscape">
        <img alt="catawiki" src="/assets/images/home/catawiki.svg">
      </div>

      <div class="phone-small">
        <img alt="wetransfer" src="/assets/images/home/wetransfer.svg">
      </div>

      <div class="tablet-portrait">
        <img alt="warbyparker" src="/assets/images/home/warbyparker.svg">
      </div>

    </section>

    <section id="primary">

      <section id="complete-toolkit">
        <h2 class="common-UppercaseTitle"><span>GetGreen in 5 simple steps</span></h2>

        <h4>1. Get insights</h4>
        <p class="common-BodyText">In your everyday life connected devices have become a natural part of your household. All these devices analyse or gather data of your home. The GetGreen<sup>&trade;</sup> app lets you concrol en manage them from one location, to gain compleet insights into your home.</p>

        <h4>2. Get Green</h4>
        <p class="common-BodyText">The GetGreen<sup>&trade;</sup> app will help you reach your green goals fast and easy with usefull tips and tricks, and even alerts you when immediate saving is available</p>

        <h4>3. Save with ease</h4>
        <p class="common-BodyText">We believe in a world where you should be rewarded for saving resposible.</p>

        <h4>4. Stay motivated</h4>
        <p class="common-BodyText">Helping the environment is more fun together, with the GetGreen app you can compare your household with relatable housholds or even create micro community's for more open en direct communication</p>

        <h4>5. Collect</h4>
        <p class="common-BodyText">The GetGreen app lets you convert your saving into something you find most important.</p>
      </section>

    </section>

  </main>

</div>