<header class="globalNav">
  <div class="container-lg">
    <ul class="navRoot">
      <li class="navSection logo">
        <a class="rootLink item-home colorize" href="#" aria-label="Home homepage">Logo here</a>
      </li>
      <li class="navSection mobile">
        <a class="rootLink item-mobileMenu colorize">
          <h2></h2>
        </a>

      </li>
    </ul>
  </div>
</header>

<div class="globalContent">

  <main>

    <header>

      <div class="myHome" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <section id="intro">
        <div class="container-lg">

          <h1 class="text-white">Proposition here</h1>

          <p class="common-BodyText text-white">
            Text here
          </p>

          <ul>
            <li>
              <a href="login" class="btn btn-success float-left">
                Create account
              </a>
            </li>
          </ul>

        </div>

      </section>

    </header>

    <section id="app-illustrations">

      <div class="tablet-landscape">
        <img alt="catawiki" src="/assets/images/home/catawiki.svg">
      </div>

      <div class="phone-small">
        <img alt="wetransfer" src="">
      </div>

      <div class="tablet-portrait">
        <img alt="warbyparker" src="">
      </div>

    </section>

    <section id="primary">

      <section id="complete-toolkit">
        <h2 class="common-UppercaseTitle">

          <span>Sub title here</span></h2>

        <p class="common-BodyText">Text here</p>
      </section>

    </section>

  </main>

</div>